.Home {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .home-center {
    width: 500px;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    background-color: $transparent-black;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid white;
    color: rgb(179, 179, 179);
    text-shadow: 2px 2px 2px black;
    box-shadow: 0 0 10px black;

    span {
      color: white;
    }
  }

  .average-info {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 100px;
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
    animation: slide 20s linear infinite reverse;

    p {
      color: rgb(201, 201, 201);
      text-shadow: 2px 2px 2px black;
    }

    span {
      color: white;
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(-80%);
  }
  to {
    transform: translateX(80%);
  }
}
