.Modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: $transparent-black;

  .modal-content {
    width: 600px;
    height: 400px;
    background-color: black;
    border-radius: 10px;
    border: 1px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -100px;
  }
}
