.Favorite {
  display: flex;
  border: 1px solid black;
  border-radius: 8px;
  background-color: $dark-grey;
  width: 600px;
  padding: 20px;
  position: relative;
  height: fit-content;
  padding-right: 60px;
  box-shadow: 0 0 10px black;

  img {
    height: 200px;
    width: auto;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
  }

  .author {
    background-image: url("/author.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
  }

  ul {
    li {
      margin-bottom: 20px;
    }
  }
}
