.NavBar {
  width: 100vw;
  min-height: 100px;
  background-color: $transparent-black;
  color: $primary-text-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  border-bottom: 1px solid black;
  text-shadow: 2px 2px 2px black;

  h1 {
    font-family: "Mea Culpa", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
  }

  ul {
    display: flex;
    gap: 40px;
    list-style: none;

    a {
      color: white;
      text-decoration: none;
      font-family: "Almendra", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.5rem;
    }

    .active {
      color: $bookmark-color;
    }

    .addCompleted {
      position: relative;
      &::after {
        content: "new";
        font-size: 0.8rem;
        position: absolute;
        top: -10px;
        right: 0px;
        color: goldenrod;
      }
    }
  }
}
