.Book {
  display: flex;
  padding: 40px;

  .large-img {
    border: 2px solid white;
    border-radius: 8px;
    height: 300px;
    width: auto;
    background-image: url("../../Assets/loader-2.gif");
    background-position: center;
    background-size: cover;
  }

  .book-info {
    padding: 40px;
  }
}
