#search-input {
  background-color: rgb(233, 219, 196);
  padding-left: 5px;
  padding-right: 25px;
  background-image: url("../../Assets/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right;
  background-position-x: 165px;
  border: none;
  border-radius: 6px;
  box-shadow: inset 1px 1px 1px black, inset -1px -1px 2px white;
}

.SearchContainer {
  position: fixed;
  top: 100px;
  right: 0px;
  width: 600px;
  height: 100%;
  margin-right: 0%;
  background-color: rgba(0, 0, 0, 0.538);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 100px;
  padding-top: 50px;
  transform: translateX(100%);
  z-index: 10;
  transition: all 0.5s ease-in-out;

  .loading {
    text-align: center;
    font-size: 2rem;
  }
}

.hide-btn {
  padding: 10px 10px 10px 10px;
  background-color: $dark-grey;
  color: $primary-text-color;
  border: 2px solid white;
  border-radius: 8px;
  position: absolute;
  top: 110px;
  right: 430px;
  z-index: 100;
}

/* @keyframes slide-down {
  to {
    margin-right: 0;
  }
} */

.show-search {
  transform: translateX(0%);
  transition: transform 1s ease forwards;
}
