@use "./Styles/colors" as *;
@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Annie+Use+Your+Telescope&family=Anton&family=Mea+Culpa&display=swap");
@import "./Pages/Root/Root";
@import "./Components/NavBar/NavBar";
@import "./Components/Search/Search";
@import "./Components/Search/SearchListItem/SearchListItem";
@import "./Pages/Favorites/Favorites";
@import "./Components/Bookmark/Bookmark";
@import "./Components/CompletedForm/CompletedForm";
@import "./Pages/Completed/Completed";
@import "./Pages/Home/Home.scss";
@import "./Components/Rating/Rating";
@import "./Components/Search/Book/Book";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $primary-text-color;
}

ul {
  list-style: none;
}
